{% extends "base.html" %}


{% block content %}
  <div class="container">
    <div class="panel-group">
      {% for profile in profiles %}
        <div class="panel panel-info">
          <div class="panel-heading">Prefered Gamer Tag: {{  profile.gamer_tag  }}</div>
          <div class="panel-body">
            Current Games: {{ profile.current_games }} <br>
            Prefered System: {{ profile.prefered_system }} <br>
            Top Games: {{ profile.top_games }}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
