{% extends "base.html" %}


{% block content %}
  <div class="container">
    <div class="panel-group">
      {% for profile in profiles %}
        <div class="panel panel-info">
          <div class="panel-heading">Prefered Gamer Tag: {{  profile.gamer_tag  }}</div>
          <div class="panel-body">
            Current Games: {{ profile.user_id }} <br>
            Prefered System: {{ profile.system_id }} <br>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="databaseoutput">
    {% for role in roles %}
      <p> {{ role.name }} </p>
    {% endfor %}

    {% for user in users %}
      <p> {{ user.first_name }} </p>
    {% endfor %}

    {% for profile in profiles %}
      <p> {{ profile.gamer_tag }} </p>
    {% endfor %}

    {% for system in systems %}
      <p> {{ system.name }} </p>
    {% endfor %}

    {% for game in games %}
      <p> {{ game.name }} </p>
    {% endfor %}

  </div>
{% endblock %}
